alias dc='docker compose'
alias dce='docker compose exec'
alias dceu='docker compose exec --user=laradock'
alias iptv='/home/apache/laradock'
alias up='dc up -d nginx redis workspace mysql phpmyadmin redis-webui'
alias iptv='/home/apache/laradock'
alias checkport='sudo lsof -i -P -n |grep 80'
alias schown='sudo chown ${USER}:${USER}'
alias c='clear'
alias connectdev='ssh -p 6822 susant@deviptv.truestreamz.com'
alias python='/usr/bin/python3'
alias gck='git checkout'
alias kubectl='minikube kubectl --'
