#docker
alias dc='docker-compose'
alias dce='docker-compose exec'
alias dceu='dc exec --user=laradock'
alias dcl='dc -f docker-compose.dev.yml'
alias dcle='dc -f docker-compose.dev.yml exec'
alias iptv='/home/apache/laradock'
alias up='dc up -d nginx redis workspace mysql phpmyadmin redis-webui'
alias iptv='/home/apache/laradock'
alias checkport='sudo lsof -i -P -n |grep 80'
alias schown='sudo chown ${USER}:${USER}'
alias c='clear'
alias connectdev='ssh -p 6822 susant@deviptv.truestreamz.com'

alias python='/usr/bin/python3'
alias gck='git checkout'
alias kubectl='minikube kubectl --'

alias python=/usr/bin/python3
alias iptvup='dc up -d redis nginx mysql phpmyadmin workspace'
alias getpods='kubectl get po -A'
alias kc='kubectl'

#git
alias gck='git checkout'
alias gs='git status'
alias gdiff='git diff'
alias ga='git add'
alias gac='git commit -am'
alias gc='git commit -m'
alias grm='git rm --cached'

#gcp 
alias techbizzconnect='gcloud compute ssh --zone "us-central1-a" "techbizz"  --project "bamboo-weft-358706"'

#utilities
alias tree="find ./ -not -path '*/\.git/*' -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

#directories
alias tashidelek="cd /home/apache/php8/tashidelek"

#utils
alias checkPermission="stat -c "%a %n""
