.bash_history
.bash_logout
.cache/ 
.config/
.bash_logout
.bashrc.bak
.cache/
.config/
.gnupg/
.lesshst
.local/
.oh-my-zsh/
.pki/
.profile
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.wget-hsts
.zcompdump
.zcompdump-*
.zshrc.pre-oh-my-zsh
Pictures/
snap/
*.sh
kuber/
Downloads/
laradock/
php7
.vscode/
.docker/
.myproject/
.DbSchema/
.android/
.fastapi/
.flutter
.fontconfig/
.gitconfig.bak
.java/
.kube/
.laradock/
.minikube/
.npm/
.nvm/
.oh-my-zsh.bak/
.openjfx/
.python_history
.zcompdump-apache-5.8.1
.zoom/
Android/
laradock8/
php8/
pythonProjects/
reactProjects/
sdks/
thamelui/
.cert
Documents/
.ViberPC
.anydesk
techbizzProjects/
laravel-kubernetes
certificates/

.aliases.swo
.aliases.swp
.kuber/
.tashidelek/
google keys/
practises/
tashidelekcuisine.com-aws.zip
tashidelekcuisine.com.zip

.zsh_history
.yarnrc
.zcompdump 
.zcompdump-apache-5.8 
.zcompdump-apache-5.8.1 
.zcompdump-apache-5.8.1.apache.102320
/iptv
.bashrc
.landscape/
.motd_shown
.zcompdump-LIS-LAP-161-5.8
.password-store/
spryker/
.aws
.azure
.mozilla/
.Xauthority
.dmrc
.xsession-errors
Desktop/
Templates/
.node
.yarn
Desktop/
reactProjects/
jsProjects/
hs_err_pid19516.log
pub-sub/
b2c-demo-shop/
b2b-demo-shop/
