.bash_history
.bash_logout
.cache/ 
.config/
.bash_history
.bash_logout
.bashrc.bak
.cache/
.config/
.gnupg/
.lesshst
.local/
.oh-my-zsh/
.pki/
.profile
.shell.pre-oh-my-zsh
.ssh/
.sudo_as_admin_successful
.wget-hsts
.zcompdump
.zcompdump-apache-5.8
.zsh_history
.zshrc.pre-oh-my-zsh
Pictures/
snap/
*.sh
kuber/
Downloads/
laradock/
php7
.vscode/
.docker/
