@tailwind base;
@tailwind components;
@tailwind utilities;




/* for sidebar css */
/* .sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 78px;
    padding: 6px 14px;
    background-color: #EEEEEE;
    transition: all 0.5s ease;
  }
  .sidebar.active {
    width: 240px;
  }
  .sidebar .logo_content .logo {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }
  .sidebar.active .logo_content .logo {
     opacity: 1;
     pointer-events: none;
  }
  
  .logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
  }
  
   .sidebar .menu-button{
     position: absolute;
     left: 50%;
     top: 20px;
     font-size: 20px;
     height: 30px;
     width: 30px;
     text-align: center;
     line-height: 40px;
     transform: translateX(-50%);
   }
   .sidebar.active  .menu-button {
     left: 85%;
   }
   .sidebar ul {
     margin-top: 20px;
   }
  
   .sidebar ul li {
     position: relative;
     margin: 0 5px;
     height: 50px;
     width: 100%;
     list-style: none;
     line-height: 50px;
  
   }
  
   .sidebar ul li a {
     display: flex;
     align-items: center;
     text-decoration: none;
     white-space: nowrap;
   }
  
   .sidebar ul li a .side-icon {
     height: 20px;
     min-width: 40px;
     line-height: 20px;
     text-align: center;
  
   }
   .sidebar .links_name {
    opacity: 0;
    pointer-events: none;
  }
   .sidebar.active .links_name {
     opacity: 1;
     pointer-events: auto;
     font-size: 14px;
   }
  
   .sidebar .menuBottom {
     width: 100%;
    background-color: #D9D9D9 ;
    border-radius: 1px solid black;
    position: absolute;
    bottom: 50px;
    left: 0%;
    height: 50px;
  }

  .menuBottom .arrowIcon {
    position: relative;
    left: 40%;
    margin-top: 15px;
  } */

 /* for navbar css */

 /* .navbar {
     top: 100px;
     left: 50px;
     width: 100%;
     background-color: blue;
 } */